.header-component {
    justify-content: space-between;
    align-items: center;
    border-bottom: .05em solid gainsboro;
    height: 4em;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}

nav {
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
}
