.search-filters-container {
    margin: 1em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.pin-btn {
    border: .1em solid black;
    border-radius: .8em;
}

.pin-content {
    margin: .6em 1em .6em 1em;
    text-transform: capitalize;
}

.active-pin {
    background-color: purple;
    color: white;
    border-color: transparent;
}