.loading,
.error,
.data_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: red;
    font-size: large;
}


.data-container {
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: auto;
}