.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.message-holder {
    width: 60%;
    min-height: 3em;
    display: flex;
    flex-direction: column;
    padding: .8em;

    border: .1em solid orange;
    border-radius: 1em;
}

.message-time-container {
    text-align: right;
    font-size: small;
    text-transform: lowercase;
    font-weight: 300;
}

.left {
    background-color: lightgoldenrodyellow;
    align-self: flex-start;
}

.right {
    background-color: plum;
    align-self: flex-end;
}