.overlay  {
    height: calc(100% - 4em);
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.profile-display-component {
    margin-right: 0;
    top: 0;

    height: 100%;
    width: 400px;
    background-color: rgb(250, 238, 217);
    animation: fade-in 2s;
}

.profile-display-header {
    height: 3em;
    padding: 0 1em 0 1em;
    margin-bottom: .4em;
    border-bottom: .1em solid gray;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: x-large;
        font-weight: 500;
    }

    .edit-btn {
        color: rgb(90, 154, 250);
    }

    .cancel-btn:hover {
        opacity: 0.7;;
    }
}

.profile-display-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-display-bio {
    width: 100%;
    display: flex;
    justify-content: center;

    .username {
        margin: .2em;
        font-size: large;
        font-weight: 600;
        font-style: italic;
        cursor: pointer;
    }
}


.profile-display-details {
    margin: .8em;
    display: flex;
    justify-content: center;
    gap: .4em;

    span:not(:last-child):after {
        gap: .4em;
        content: "|";
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}