.user-preview-card {
    width: 100%;
    height: 4em;
    border: .1em solid lightgray;
    border-radius: .4em;

    display: flex;
    flex-direction: row;

    img {
        width: 3.6em;
        height: 3.6em;
        margin: .2em;
        border-radius: .6em;
    }

    .bio {
        display: flex;
        flex-direction: column;
        margin: .4em;

        .username {
            font-weight: 600;
        }
    }
}

.selected {
    background-color: purple;
}